body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

header {
    background-color: #f97316; /* Naranja */
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    height: 80vh;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

footer {
    background-color: #f97316;
    color: white;
    text-align: center;
    padding: 10px;
}
